body {
  background-color: rgb(155, 198, 214);
}

h1 {
  text-align: center;
  color: rgb(38, 39, 74)
}

#mainForm {
  margin-top: 5%;
}

.questions {
  margin-top:5%;
}

.btn {
  font-size: 200%;
  font-style: oblique;
  outline: solid rgb(70, 70, 70);
  background-color: rgb(180, 180, 180);
}

#results {
  display: none;
  
}